<style>
    .contentino{margin-top: 10px; margin-bottom: 10px;}
    a.linkcat:link{ text-decoration: none;
        font-weight:bold;
            color: #408627;}
        a.linkcat:visited{color: #408627;}
        a.linkcat:hover{color: #105e06;}
        a.linkcat:active{color: #136001;}
    a.linktag:link{ text-decoration: none;
        font-weight:bold;
            color: #408627;}
        a.linktag:visited{color: #408627;}
        a.linktag:hover{color: #105e06;}
        a.linktag:active{color: #136001;}
a.link:link{ text-decoration: none;
        font-weight:bold;
            color: #408627;}
        a.link:visited{color: #408627;}
        a.link:hover{color: #408627;}
        a.link:active{color: #136001;}
</style>
<!--<b><span class="contentino">{{post.content|truncatewords:50 }}</span></b><br />-->
<i><span>Added on: {{ post.publication_date|date:"d-m-y" }}</span> |
    <span>Author: <a class="link" href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></span> |
<span>Category : <a class="linkcat" href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></span> |
<span>Tags :
  {% for tag in post.tags.all %}
      <a class="linktag" href="{{ tag.get_absolute_url }}">{{ tag }} </a> |
  {% empty %}
      Geen Tags
  {% endfor %}
</span> <span>File: <a class="link" href="{{ post.file.url }}">Download Link</a></span><br /><br />
</i>
